@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background: #F1E9E9;
}

.aboutimage{
  background-image: url(../public/about.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.footerpng{
  background-image: url(../public/Footerpng.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Preloader.css */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F1E9E9; /* Background color for the preloader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 8px solid #000000; /* Light gray border */
  border-top: 8px solid #A01F1A; /* Blue border */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.slick-dots li button:before {
  color: #0EAE83 !important;  /* Change to your desired color */
  font-size: 12px;  /* Adjust size if needed */
}

.slick-dots li.slick-active button:before {
  color: #11B587 !important;  /* Active dot color */
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Keyframes for scrolling effect */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.first {
  opacity: 0; 
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 0.5s;
}

.second {
  opacity: 0; 
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 1s;
}

.third {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 2s;

}

.fourth {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 3s;
}

/* defines the animation */
@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

